html, body {
  height: 100%;
}

body {
  width: 100%;
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 3em;
  filter: grayscale(100%);
	 background-position: center;
	 margin:auto;
	 background-size:cover;
}

#graymaker {
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  z-index: -10;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}

#displayMassage {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  font-weight: bold;
  margin: 1em 1em;
  max-width: 80%;
  z-index: 100;
}

/*#btn-parent {
  display: flex;
  flex-direction: column;
}*/

#more {
  font-size: .8em;
  position: fixed;
  bottom: 0;
  left: 50%;
  text-align: center;
  margin-bottom: 1em;
  padding: .3em .5em;
  background: #fff;
  color: #000;
  border-radius: .1em;
  opacity: 1;
  transition: transform .4s ease-in-out;
}

#more:hover {
  transform: scale(1.04);
}

#more:active {
  transform: scale(.8);
}

#licenses {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  font-size: .25em;
  color: #fff;
}

#licenses a {
  text-decoration: underline;
  color: #fff;
}
